@model ChatViewModel

<div class="container d-flex justify-content-center">
    <section class="msger">
        <header class="msger-header">
            <div class="msger-header-title">
                <i class="fas fa-comment-alt"></i> Chat with @Model.Receiver
            </div>
            <div class="msger-header-options">
                <span><i class="fas fa-cog"></i></span>
            </div>
        </header>

        <div class="msger-chat">
            
        </div>

        <form class="msger-inputarea">
            <input type="text" class="msger-input" placeholder="Enter your message...">
            <input type="hidden" id="receiver" value="@Model.Receiver" />
            <button type="submit" class="msger-send-btn">Send</button>
        </form>
    </section>
</div>

@section Scripts
    {
    <script src="@Url.Content("~/lib/signalr/microsoft/signalr/dist/browser/signalr.js")"></script>
    <script src="@Url.Content("~/js/chat.js")"></script>
}
