@{
    this.ViewData["Title"] = $"All Sports, Page {Model.PageNumber}";
    this.ViewData["ControllerName"] = "Sport";
    this.ViewData["ActionName"] = "All";
    this.ViewData["AreaName"] = "";
}
@model SportListViewModel
@{
    <h1 class="text-center">@this.ViewData["Title"]</h1>
    <div class="container">
        @if (Model.Sports.Count() > 0)
        {
            
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-3 row-cols-xl-4">
        @foreach (var item in Model.Sports)
        {
            @await Html.PartialAsync("../Shared/Sport/_SportCardPartial.cshtml", item)
        }
        </div>
        }
        else
        {
            <h3 class="text-center">No sports yet!</h3>
        }
    </div>
    <partial name="_PaginationPartial"/>
}
