@{
    this.ViewData["Title"] = $"All Clubs, Page {Model.PageNumber}";
    this.ViewData["ControllerName"] = "Club";
    this.ViewData["ActionName"] = "All";
    this.ViewData["AreaName"] = "";
}
@model ClubListViewModel
@{
    <h1 class="text-center">@this.ViewData["Title"]</h1>
    <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-3 row-cols-xl-4">
            @if (Model.Clubs.Count() > 0)
            {
                @foreach (var item in Model.Clubs)
                {
                    @await Html.PartialAsync("../Shared/Club/_ClubCardPartial.cshtml", item)
                }
            }
            else
            {
                <h3 class="text-center">No clubs yet!</h3>
            }
            </div>
    </div>
    <partial name="_PaginationPartial"/>
}

