@model AthleteInListViewModel
@{
        <div class="col">
            <div class="row">
                <div class="col-1">
                    <img class="img-fluid rounded-circle " src="@Model.ProfilePic" alt="image" style="height: 50px; width: 50px"/>
                </div>
                <div class="col mt-2">
                    <h5>
                    <a asp-area="" asp-controller="ApplicationUser" asp-action="Profile" asp-route-user="@Model.ApplicationUserId" style="text-decoration: none; color: inherit;">
                            @Model.Name
                        </a>
                    </h5>
                </div>
            </div>
        </div>
}
