@using MySportsClubManager.Common
@{
    @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
    {
        <li class="nav-item">
            <a class="nav-link" asp-area="Administration" asp-controller="Sport" asp-action="Create">Create Sport</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="Administration" asp-controller="Club" asp-action="Create">Create Club</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="Administration" asp-controller="Contest" asp-action="Create">Create Contest</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="Administration" asp-controller="Dashboard" asp-action="AllUsers">Manage Users</a>
        </li>
    }
}
