@inject UserManager<ApplicationUser> UserManager
@inject IApplicationUserService applicationUserService
@inject IAthleteService athleteService
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="description" content="My Sports Club Manager is the perfect place for you to find and join the sports clubs you want.">
    <meta name="keywords" content="Sport, Club, Manager">
    <meta name="author" content="Radin Tiholov">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@this.ViewData["Title"] - @GlobalConstants.SystemName</title>
    <link runat="server" rel="icon" href="~/favicon.ico" type="image/ico" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/bootstrap.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/calendar.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/toastr/toastr.min.css"/>
    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="https://kit.fontawesome.com/aa20ca73f1.js" crossorigin="anonymous"></script>
</head>
<body>
    <partial name="_ErrorMessagesPartial" />

    @if (User.IsInRole(GlobalConstants.AdministratorRoleName) || User.IsInRole(GlobalConstants.TrainerRoleName))
    {
        <partial name="./NavBars/_AdminNavBarPartial.cshtml" />
    }else{
        <partial name="./NavBars/_BasicNavBarPartial.cshtml" />
    }
    <div>
        <partial name="_CookieConsentPartial" />
        <main role="main" class="mb-5">
            @this.RenderBody()
        </main>

        <footer class="text-center text-white bg-primary">
            <div class="container p-4">
                <section class="mb-4">
                    <p>My Sports Club Manager</p>
                </section>
            </div>
            <div class="text-center p-3" style="background-color: rgb(17, 113, 150)">
                <a class="text-white" href="https://github.com/RadinTiholov">
                    Radin Tiholov
                </a>
            </div>
        </footer>
    </div>

    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
    <script src="~/lib/toastr/toastr.min.js"></script>
    @await this.RenderSectionAsync("Scripts", required: false)
</body>
</html>
