@using MySportsClubManager.Common
@using MySportsClubManager.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
    @if (this.SignInManager.IsSignedIn(this.User))
    {
        @*<li class="nav-item mt-1">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @this.User.Identity.Name!</a>
        </li>*@
        @*if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
        {
            <li class="nav-item mt-1">
                <a class="nav-link" asp-area="Administration" asp-controller="Dashboard" asp-action="Index" title="Admin">Admin</a>
            </li>
        }*@
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="ApplicationUser" asp-action="Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area=""  asp-controller="ApplicationUser" asp-action="Login">Login</a>
        </li>
    }
</ul>
