@model ContestListViewModel
@{
    this.ViewData["Title"] = $"All Contests, Page {Model.PageNumber}";
    this.ViewData["ControllerName"] = "Contest";
    this.ViewData["ActionName"] = "All";
    this.ViewData["AreaName"] = "";
}
@{
    <h1 class="text-center">@this.ViewData["Title"]</h1>
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <div class="card text-white bg-primary mb-3">
                    <div class="card-body">
                        <div class="row row-cols-1">
                            @foreach (var contest in Model.Contest)
                            {
                                @await Html.PartialAsync("../Shared/Contest/_ContestCardPartial.cshtml", contest)
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card text-white bg-primary mb-3">
                    <div class="card-body">
                    <h5>Recently added sports:</h5>
                        <ul>
                        @foreach (var sport in Model.RecentSports)
                            {
                                <li><a class="text-light" asp-controller="Sport" asp-action="Details" asp-route-id="@sport.Id" style="text-decoration: none">@sport.Name</a></li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <partial name="_PaginationPartial" />
}
