@using MySportsClubManager.Common
@{
    <img src="~/images//wave3.png" alt="wave" style="width:100%" />
    <div class="container text-center">
        <h1 class="display-3">Wellcome back!</h1>
        <div class="row justify-content-center">

            @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
            {
                <div class="col-md-3">
                    <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                        <div class="card-header">Sports</div>
                        <img src="~/images/sports.jpg" class="card-img-top" alt="sport img" style="height: 15rem;">
                        <div class="card-body">
                            <div class="row">
                                <div class="col mb-2">
                                    <a class="btn btn-warning" asp-area="Administration" asp-controller="Sport" asp-action="Create">Create Sport</a>
                                    <a class="btn btn-warning" asp-area="" asp-controller="Sport" asp-action="All">All Sports</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                        <div class="card-header">Contests</div>
                        <img src="~/images/contests.jpg" class="card-img-top" alt="sport img" style="height: 15rem;">
                        <div class="card-body">
                            <div class="row">
                                <div class="col mb-2">
                                    <a class="btn btn-warning" asp-area="Administration" asp-controller="Contest" asp-action="Create">Create Contest</a>
                                    <a class="btn btn-warning" asp-area="" asp-controller="Contest" asp-action="All">All</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                        <div class="card-header">Users</div>
                        <img src="~/images/users.jpg" class="card-img-top" alt="sport img" style="height: 15rem;">
                        <div class="card-body">
                            <div class="row">
                                <div class="col mb-2">
                                    <a class="btn btn-warning" asp-area="Administration" asp-controller="Dashboard" asp-action="AllUsers">Manage Users</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            <div class="col-md-3">
                <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                    <div class="card-header">Clubs</div>
                    <img src="~/images/clubs.jpg" class="card-img-top" alt="sport img" style="height: 15rem;">
                    <div class="card-body">
                        <div class="row">
                            <div class="col mb-2">
                                <a class="btn btn-warning" asp-area="Administration" asp-controller="Club" asp-action="Create">Create Club</a>
                                <a class="btn btn-warning" asp-area="" asp-controller="Club" asp-action="All">All Clubs</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                    <div class="card-header">Trainings</div>
                    <img src="~/images/trainings.jpg" class="card-img-top" alt="sport img" style="height: 15rem;">
                    <div class="card-body">
                        <div class="row">
                            <div class="col mb-2">
                                <a class="btn btn-warning" asp-area="Administration" asp-controller="Training" asp-action="Create">Create Training</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <img src="~/images//wave1.png" alt="wave" style="width:100%" />
}
