@{
    this.ViewData["Title"] = $"Your created clubs, Page {Model.PageNumber}";

    this.ViewData["ControllerName"] = "Club";
    this.ViewData["ActionName"] = "CreatedClubs";
    this.ViewData["AreaName"] = "Administration";
}
@model ClubListViewModel
@{
    <h1 class="text-center">@this.ViewData["Title"]</h1>
    <div class="container">
        @if (Model.Clubs.Count() > 0)
        {
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-3 row-cols-xl-4">
                @foreach (var item in Model.Clubs)
                {
                    @await Html.PartialAsync("../../../../Views/Shared/Club/_ClubCardPartial.cshtml", item)
                }
            </div>
        }
        else
        {
            <h3 class="text-center">You haven't created any clubs yet!</h3>
        }
    </div>
    <partial name="_PaginationPartial" />
}


